/* Active nav item background color */
.nav-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f7f7f7;
}

.icon {
	margin-right: 8px;
	color: #ffff;
}

.nav-text {
	color: #ffff;
	padding-left: 8px;
}

.nav-link:hover,
.nav-link:active {
	background-color: #0ea5e9;
	color: #ffff;
}
